<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recepcionista</title>
    <link rel="stylesheet" href="styles/estilorecepcionista.css">
</head>
<body>
    <header>
        <div id="logo"><img src="logo3.png" alt="logo"></div>
        <nav id="nav-header">
            <ul>
                <li><a href="index.php">Inicio</a></li>
                <li><a href="habitaciones.html">Habitaciones</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="registro.html">Registro de usuario</a></li>
                <li><a href="recepcionista.html">Estado de las reservas</a></li>
            </ul>
        </nav>
    
    </header>
    <main>
        <h2>Estado de las reservas de las habitaciones</h2>
        <div class="reservas">
            <div class="habitacion">
                <div class="numero">N° Hab.</div>
                <div class="capacidad">Cap.</div>
                <div class="dia">Hoy</div>
                <div class="dia">-1d</div>
                <div class="dia">+1d</div>
                <div class="dia">+2d</div>
                <div class="dia">+3d</div>
                <div class="dia">+4d</div>
                <div class="dia">+5d</div>
                <div class="dia">+6d</div>
                <div class="dia">+1d</div>
            </div>
            <div class="habitacion">
                <div class="numero">101</div>
                <div class="capacidad">2</div>
                <div class="dia">R</div>
                <div class="dia">R</div>
                <div class="dia">R</div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
            </div>
            <div class="habitacion">
                <div class="numero">102</div>
                <div class="capacidad">2</div>
                <div class="dia">R</div>
                <div class="dia">R</div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia">P</div>
                <div class="dia">P</div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
            </div>
            <div class="habitacion">
                <div class="numero">103</div>
                <div class="capacidad">3</div>
                <div class="dia">M</div>
                <div class="dia">M</div>
                <div class="dia">M</div>
                <div class="dia">M</div>
                <div class="dia">M</div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
                <div class="dia"></div>
            </div>
            <div class="habitacion">
                <div class="numero">302</div>
                <div class="capacidad">6</div>
                <div class="dia"></div>
                <div class="dia">M</div>
                <div class="dia">M</div>
                <div class="dia"></div>
                <div class="dia">R</div>
                <div class="dia">R</div>
                <div class="dia">R</div>
                <div class="dia"></div>
                <div class="dia"></div>
            </div>

        </div>
    </main>
    <footer>
        <div id="pie">
            <a href="adaptabilidad.html">Modificaciones según la resolución de la pestaña</a>
        </div>
    </footer>
</body>
</html>