{% extends "padre.html" %}

{% block central %}
    <main>
        <div class="servicios">
            <div id="piscina">
                <h2>Piscina</h2>
                <p>Disfruta de nuestra piscina climatizada durante todo el año. Además, disponemos de una piscina exterior para los meses de verano.</p>
                <h3>Horario</h3>
                <p>De 8:00 a 22:00</p>
                <img src="piscina.jpg" alt="piscina">
            </div>
            <div id="gimnasio"> 
                <h2>Gimnasio</h2>
                <p>En nuestro gimnasio podrás disfrutar de una gran variedad de máquinas de última generación. Disponemos de monitores especializados que te ayudarán a conseguir tus objetivos.</p>
                <h3>Horario</h3>
                <p>De 6:00 a 23:00</p>
                <img src="gimnasio.jpeg" alt="gimnasio">
            </div>
            <div id="restaurante"> 
                <h2>Restaurante</h2>
                <p>En nuestro restaurante podrás disfrutar de una gran variedad de platos, desde comida tradicional hasta platos internacionales. También disponemos de menús especiales para personas con intolerancias alimentarias.</p>
                <h3>Horario</h3>
                <p>De 13:00 a 16:00 y de 20:00 a 23:00</p>
                <img src="restaurante.jpeg" alt="restaurante">
            </div>
        </div>
    </main>
{% endblock %}